:root {
    --bg-color: #aaa;
}

body{
    background-color: var(--bg-color);
}
                
h1{
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin: 10px;
}
                
canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
   font-family: Euro Caps;
    src: url('../watches/speed-demon/fonts/Euro Caps.ttf');
}

@font-face {
   font-family: BebasNeue Regular;
    src: url('../watches/speed-demon/fonts/BebasNeue Regular.ttf');
}

@font-face {
   font-family: Air Americana;
    src: url('../watches/speed-demon/fonts/Air Americana.ttf');
}

@font-face {
   font-family: BebasNeue;
    src: url('../watches/speed-demon/fonts/BebasNeue.ttf');
}
